<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>cn/itcat/volunteer/user/vo/Volunteer_user.hbm.xml</value>
				<value>cn/itcat/volunteer/user/vo/Volunteer_act.hbm.xml</value>
				<value>cn/itcat/volunteer/user/vo/Volunteer_rec.hbm.xml</value>
				<value>cn/itcat/volunteer/admin/vo/Admin_s.hbm.xml</value>
				<value>cn/itcat/volunteer/admin/vo/Admin_t.hbm.xml</value>
			
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action的配置 ===========================-->
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="cn.itcat.volunteer.index.action.IndexAction" scope="prototype">
		
	</bean>
	<!-- 用户模块跳转注册的Action -->
	<!-- 志愿者 -->
	<bean id="volunteer_userAction" class="cn.itcat.volunteer.user.action.Volunteer_userAction" scope="prototype">
		<property name="volunteer_userService" ref="volunteer_userService" />
		<property name="admin_tService" ref="admin_tService" />
	</bean>
	<bean id="volunteer_actAction" class="cn.itcat.volunteer.user.action.Volunteer_actAction" scope="prototype">
		<property name="volunteer_actService" ref="volunteer_actService" />
	</bean>
	<bean id="volunteer_recAction" class="cn.itcat.volunteer.user.action.Volunteer_recAction" scope="prototype">
		<property name="volunteer_recService" ref="volunteer_recService" />
	</bean>
	
	<!-- 管理员 -->
	<bean id="admin_tAction" class="cn.itcat.volunteer.admin.action.Admin_tAction" scope="prototype">
		<property name="admin_tService" ref="admin_tService" />
	</bean>
	<bean id="admin_sAction" class="cn.itcat.volunteer.admin.action.Admin_sAction" scope="prototype">
		<property name="admin_sService" ref="admin_sService" />
	</bean>
	
	
	<!-- Service的配置  ===========================-->
	<!-- 志愿者 -->
	<bean id="volunteer_userService" class="cn.itcat.volunteer.user.service.Volunteer_userService">
		<property name="volunteer_userDao" ref="volunteer_userDao"/>
	</bean>
	<bean id="volunteer_actService" class="cn.itcat.volunteer.user.service.Volunteer_actService">
		<property name="volunteer_actDao" ref="volunteer_actDao"/>
	</bean>
	<bean id="volunteer_recService" class="cn.itcat.volunteer.user.service.Volunteer_recService">
		<property name="volunteer_recDao" ref="volunteer_recDao"/>
	</bean>
	
	<!-- 管理员 -->
	<bean id="admin_tService" class="cn.itcat.volunteer.admin.service.Admin_tService">
		<property name="admin_tDao" ref="admin_tDao"/>
	</bean>
	<bean id="admin_sService" class="cn.itcat.volunteer.admin.service.Admin_sService">
		<property name="admin_sDao" ref="admin_sDao"/>
	</bean>
	
	<!-- Dao的配置  ===========================-->
	<!-- 志愿者 -->
	<bean id="volunteer_userDao" class="cn.itcat.volunteer.user.dao.Volunteer_userDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="volunteer_actDao" class="cn.itcat.volunteer.user.dao.Volunteer_actDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="volunteer_recDao" class="cn.itcat.volunteer.user.dao.Volunteer_recDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 管理员 -->
	<bean id="admin_tDao" class="cn.itcat.volunteer.admin.dao.Admin_tDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="admin_sDao" class="cn.itcat.volunteer.admin.dao.Admin_sDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>
